//- h5#turn
.simple-board(id = 'board-' + boardIndex)
  .row
    .yellow(id = 'cell-' + boardIndex + '-0')
    .yellow(id = 'cell-' + boardIndex + '-1')
    .yellow(id = 'cell-' + boardIndex + '-2')
  .row
    .yellow(id = 'cell-' + boardIndex + '-3')
    .yellow(id = 'cell-' + boardIndex + '-4')
    .yellow(id = 'cell-' + boardIndex + '-5')
  .row
    .yellow(id = 'cell-' + boardIndex + '-6')
    .yellow(id = 'cell-' + boardIndex + '-7')
    .yellow(id = 'cell-' + boardIndex + '-8')