h5#turn
h5 Zero Player Mode

#container
  .row
    #cell-0.yellow
    #cell-1.yellow
    #cell-2.yellow                
  .row
    #cell-3.yellow
    #cell-4.yellow
    #cell-5.yellow
  .row
    #cell-6.yellow
    #cell-7.yellow
    #cell-8.yellow
