doctype html
html(lang="en")
  head
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/board.js')
    script(src='/front-end.js')
    link(rel='stylesheet', type='text/css', href='/styles.css')

  body
    h4= message

    div
      a(href='/super') New Super Game

    div
      a(href='/simple') New Simple Game

    div
      a(href='/rules') Read the Rules

    hr
    for boardIndex in [0, 1, 2]
      include ./includes/board.pug
    hr
    for boardIndex in [3, 4, 5]
      include ./includes/board.pug
    hr
    for boardIndex in [6, 7, 8]
      include ./includes/board.pug
