body {
  font-family: monospace;
}

.row {
  display: table-row;
}

.yellow {
  background-color: yellow;
  width: 50px;
  height: 50px;
  display: table-cell;
  border: 1px solid red;
  text-align: center;
  font-size: 300%;
}

#container {
  background-color: red;
  display: table;
  margin: 10px;
}

#bigContainer {
  display: table;
}

.simple-board {
  display: inline;
  margin: 20px;
}
