body {
  font-family: monospace;
}

.yellow {
  background: yellow;
  height: 50px;
  width: 50px;
  border-color: red;
  border: 2px;
}

#smallboard {
  background-color: red;
}

.xoverlay {
  background: (0,0,0,0.6)
  height: 50px;
  width: 50px;
  font-size: 40px;
  display: block;
  position: relative;
}

#bigboard {
  background-color: red;
  height: fit-content;
  width: fit-content;
}
